# Project exclude paths
/.gradle/
/gradle-build/Aliyunplayer/player_demo/intermediates/javac/debug/classes/
/gradle-build/AliyunVideoCommon/intermediates/javac/debug/classes/
/gradle-build/app/intermediates/javac/debug/classes/
/gradle-build/zxing/intermediates/javac/debug/classes/